rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Subjects collection - ครูคนอื่นๆในโรงเรียนเขียนได้
    match /subjects/{subjectId} {
      allow read, write: if request.auth != null;
    }
    
    // Media collection - ครูคนอื่นๆในโรงเรียนเขียนได้
    match /media/{mediaId} {
      allow read, write: if request.auth != null;
    }
  }
}
